@import "bootstrap";

.navbar {
  background-color: black !important;
  /*position: fixed;*/
  top: 0;
  width: 100%;
  z-index: 1;
}

.custom-toggler.navbar-toggler {
  border-color: #dce3e6;
  
} 
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
  }

.nav-link {
  color: white !important; 
}
.nav-item {
  font-style: oblique;
  font-weight: bold;
  letter-spacing: 1px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

/*#home-container {
	margin-top: 25px;
} */
.jumbotron {
/*background-color: #ffcccc;*/
background-image: asset-url('headphones.jpeg');
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
height: 760px;
margin-top: 10px;
width: 100%;
margin-bottom: 10px;
opacity: 1;
}

html,
body {
	height: 100%;
  background-color: #04252538;
}

#page-content {
	flex: 1 0 auto;
	background-color: lightgrey;
}

#sticky-footer {
	flex-shrink: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }
.alert-notice{
color: #3c763d;
background-color: aqua;
border-color: #d6e9c6;
}
.alert-alert{
color: #3c763d;
background-color: blue;
border-color: #d6e9c6;
}
.page-bgcolor {
  background-image: url('clock.jpg');
}